name: FTP Deploy

on:
  push:
    branches:
      - main  # Ou a branch que você deseja monitorar para o deploy

jobs:
  deploy:
    name: Deploy via FTP
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3  # Faz o checkout do código do repositório

    - name: Trigger PHP Script via cURL
      run: 
        curl -f -X POST \
          -d "dbhost=${{ secrets.DB_HOST }}" \
          -d "dbuser=${{ secrets.DB_USER }}" \
          -d "dbpass=${{ secrets.DB_PASS }}" \
          -d "dbname=${{ secrets.DB_NAME }}" \
          https://soilqi.com/soilqi/git.php
        
        echo "✅ Deploy completed v!"
